// _base.scss

$primary-color: rgb(170, 0, 0);
$secondary-color: rgb(230, 230, 230);
$primary-fontColor: rgb(230, 230, 230);
$secondary-fontColor: rgb(0, 0, 0);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(14px + 0.8vmin);
    background-color: $secondary-color;
}

@mixin filter($property) {
    -webkit-filter: $property;
    filter: $property;
}

@mixin box-sizing($property) {
    -webkit-box-sizing: $property;
    -moz-box-sizing: $property;
    box-sizing: $property;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transform-2($property, $property2) {
    -webkit-transform: $property $property2;
    -moz-transform: $property $property2;
    -ms-transform: $property $property2;
    -o-transform: $property $property2;
    transform: $property $property2;
}

// @mixin transform-3($property, $property2, $property3) {
//     -webkit-transform: $property, $property2, $property3;
//     -moz-transform: $property, $property2, $property3;
//     -ms-transform: $property, $property2, $property3;
//     -o-transform: $property, $property2, $property3;
//     transform: $property, $property2, $property3;
// }

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transition-2($property, $property2) {
    -webkit-transition: $property, $property2;
    -moz-transition: $property, $property2;
    -o-transition: $property, $property2;
    transition: $property, $property2;
}

@mixin animation-name($property) {
    -webkit-animation-name: $property;
    -moz-animation-name: $property;
    -o-animation-name: $property;
    animation-name: $property;
}

@mixin animation-duration($property) {
    -webkit-animation-duration: $property;
    -moz-animation-duration: $property;
    -o-animation-duration: $property;
    animation-duration: $property;
}

@mixin animation-timing-function($property) {
    -webkit-animation-timing-function: $property;
    -moz-animation-timing-function: $property;
    -o-animation-timing-function: $property;
    animation-timing-function: $property;
}

@mixin animation-iteration-count($property) {
    -webkit-animation-iteration-count: $property;
    -moz-animation-iteration-count: $property;
    -o-animation-iteration-count: $property;
    animation-iteration-count: $property;
}