html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Cart {
  min-height: 92vh;
  text-align: left;
}

.Cart-content {
  min-height: 92vh;
  margin-bottom: calc(62px + 0.8vmin);
}

.Cart-content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cart-content-header div {
  padding: calc(40px + 0.8vmin) 5% calc(40px + 0.8vmin) 5%;
  font-size: calc(22px + 0.8vmin);
  font-weight: 700;
}

.Cart h1 {
  margin: 0;
  padding: calc(40px + 0.8vmin) 5% calc(40px + 0.8vmin) 5%;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.Cart .order {
  position: relative;
  width: calc(100% - 6px);
  margin: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 24px 0;
  border-radius: 10px;
  background-color: #e6d1a2;
}

.Cart .order .marker {
  min-height: 100%;
  width: calc(7px + 0.8vmin);
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.Cart .order .title {
  display: inline-block;
  margin-top: 16px;
  font-weight: 700;
  margin: 8px 8px 8px 0;
}

.Cart .order-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5%;
  font-size: calc(18px + 0.8vmin);
}

.Cart .order-header h3 {
  margin: 0;
  font-size: calc(18px + 0.8vmin);
}

.Cart .order-header .title {
  margin-right: 0;
}

.Cart .order-content {
  margin: 8px 5% 16px 5%;
}

.Cart .order-content .content {
  display: inline-block;
  margin: 8px;
}

.Cart .order-buttons {
  margin: 2px 5%;
  text-align: right;
}

.Cart .order-buttons button {
  margin: 2px 4px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 64px;
  border: none;
  border-radius: 50px;
  font-size: calc(10px + 0.8vmin);
  color: #e6e6e6;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.Cart .order-buttons button:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.Cart .order-buttons button:first-of-type {
  margin-left: 0;
  background-color: #aa0000;
}

.Cart .order-buttons button:last-of-type {
  margin-right: 0;
  background-color: #337800;
}

.Cart .message {
  margin: 0 5%;
  min-height: 92vh;
  font-style: italic;
}

.Cart-buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: calc(8px + 0.8vmin);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% calc(32px + 0.8vmin) 5%;
}

.Cart-buttons button {
  display: block;
  width: 60%;
  max-width: 240px;
  margin: 4px;
  padding: 8px;
  outline: none;
  border: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.Cart-buttons button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.Cart-buttons .okButton {
  background-color: #337800;
  border-radius: 10px;
}

.Cart-buttons .cancelButton {
  background-color: #aa0000;
  border-radius: 10px;
}
/*# sourceMappingURL=Cart.css.map */