// Cart.scss

@import '../../utils/models/base';

.Cart {
    min-height: 92vh;
    text-align: left;

    &-content {
        min-height: 92vh;
        margin-bottom: calc(62px + 0.8vmin);

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                padding: calc(40px + 0.8vmin) 5% calc(40px + 0.8vmin) 5%;
                font-size: calc(22px + 0.8vmin);
                font-weight: 700;
            }
        }
    }

    h1 {
        margin: 0;
        padding: calc(40px + 0.8vmin) 5% calc(40px + 0.8vmin) 5%;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    .order {
        position: relative;
        width: calc(100% - 6px);
        margin: 3px;
        @include box-sizing(border-box);
        padding: 24px 0;
        border-radius: 10px;
        background-color: rgb(230, 209, 162);

        .marker {
            min-height: 100%;
            width: calc(7px + 0.8vmin);
            border-radius: 10px 0 0 10px;
            position: absolute;
            top: 0;
            left: 0;
            @include filter(brightness(115%));
        }
            
        .title {
            display: inline-block;
            margin-top: 16px;
            font-weight: 700;
            margin: 8px 8px 8px 0;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 5%;
            font-size: calc(18px + 0.8vmin);

            h3 {
                margin: 0;
                font-size: calc(18px + 0.8vmin);
            }

            .title {
                margin-right: 0;
            }
        }

        &-content {
            margin: 8px 5% 16px 5%;

            .content {
                display: inline-block;
                margin: 8px;
            }
        }

        &-buttons {
            margin: 2px 5%;
            text-align: right;

            button {
                margin: 2px 4px;
                outline: none;
                @include box-sizing(border-box);
                padding: 8px 12px;
                min-width: 64px;
                border: none;
                border-radius: 50px;
                font-size: calc(10px + 0.8vmin);
                color: $primary-fontColor;
                @include filter(brightness(115%));
                @include transition(transform 0.25s);
                cursor: pointer;

                &:active {
                    @include transform(scale(1.15));
                }
    
                &:first-of-type {
                    margin-left: 0;
                    background-color: rgb(170, 0, 0);
                }
    
                &:last-of-type {
                    margin-right: 0;
                    background-color: rgb(51, 120, 0);
                }
            }
        }
    }

    .message {
        margin: 0 5%;
        min-height: 92vh;
        font-style: italic;
    }

    &-buttons {
        position: sticky;
        bottom: calc(8px + 0.8vmin);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 5% calc(32px + 0.8vmin) 5%;

        button {
            display: block;
            width: 60%;
            max-width: 240px;
            margin: 4px;
            padding: 8px;
            outline: none;
            border: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;

            &:active {
                @include transform(scale(1.05));
            }
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
            border-radius: 10px;
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
            border-radius: 10px;
        }
    }
}