html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Pizza {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #e6e6e6;
  outline: none;
  cursor: pointer;
  font-size: calc(10px + 0.8vmin);
  text-align: left;
  background-color: #e6d1a2;
  -webkit-transition: filter 0.25s;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.Pizza:active {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}

.Pizza .marker {
  min-height: 100%;
  width: calc(7px + 0.8vmin);
  border-radius: 7px 0 0 7px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.Pizza-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Pizza-header .Pizza-name {
  margin: calc(20px + 0.8vmin) 2.5% 8px 5%;
  font-size: calc(14px + 0.8vmin);
}

.Pizza-header .Pizza-cost {
  margin: calc(20px + 0.8vmin) 5% 8px 2.5%;
  font-weight: 700;
  font-size: calc(14px + 0.8vmin);
}

.Pizza-components {
  margin: 8px 5% calc(20px + 0.8vmin) 5%;
  font-style: italic;
}

.Pizza-components .title {
  font-weight: 700;
}

.Pizza-components .first, .Pizza-components .last {
  margin-left: 0;
}

.Pizza-components span {
  display: inline-block;
  margin: 8px;
}
/*# sourceMappingURL=Pizza.css.map */