// Pizza.scss

@import '../../utils/models/base';

.Pizza {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 10px;
    @include box-sizing(border-box);
    border: 3px solid $secondary-color;
    outline: none;
    cursor: pointer;
    font-size: calc(10px + 0.8vmin);
    text-align: left;
    background-color: rgb(230, 209, 162);
    @include transition(filter 0.25s);

    &:active {
        @include filter(brightness(85%));
    }

    .marker {
        min-height: 100%;
        width: calc(7px + 0.8vmin);
        border-radius: 7px 0 0 7px;
        position: absolute;
        top: 0;
        left: 0;
        @include filter(brightness(115%));
    }

    &-header {
        display: flex;
        justify-content: space-between;

        .Pizza-name {
            margin: calc(20px + 0.8vmin) 2.5% 8px 5%;
            font-size: calc(14px + 0.8vmin);
        }

        .Pizza-cost {
            margin: calc(20px + 0.8vmin) 5% 8px 2.5%;
            font-weight: 700;
            font-size: calc(14px + 0.8vmin);
        }
    }

    &-components {
        margin: 8px 5% calc(20px + 0.8vmin) 5%;
        font-style: italic;

        .title {
            font-weight: 700;
        }

        .first, .last {
            margin-left: 0;
        }

        span {
            display: inline-block;
            margin: 8px;
        }
    }
}