// Menu.scss

@import '../../utils/models/base';

.Menu {
    padding-bottom: calc(56px + 5vmin);
    overflow: hidden;
  
    h1 {
        margin: calc(40px + 0.8vmin) 0 calc(20px + 0.4vmin) 0;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }
  
    &-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-end;
    
        button {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            max-width: 400px;
            height: min-content;
            @include box-sizing(border-box);
            padding: calc(20px + 0.4vmin) calc(15px + 0.8vmin);
            padding-bottom: calc(32px + 5vmin);
            border: none;
            outline: none;
            color: $secondary-fontColor;
            background-color: transparent;
            @include filter(opacity(0.12));
            @include transition-2(transform 0.25s, filter 0.25s);
            cursor: pointer;
        
            &::after {
                content: attr(data-info);
                position: absolute;
                bottom: 0;
                font-weight: 500;
                font-size: calc(18px + 0.8vmin);
                font-family: Mrs Shepards;
                @include transform(scaleY(1.5));
            }
        
            img {
                width: 100%;
                max-height: 100%;
                align-self: center;
            }
        
            &:last-of-type {
                img {
                    width: 77%;
                }
            }
        }
    }

    &-list {
        position: relative;
        margin-top: calc(56px + 5vmin);
        padding-top: 0.8vmin;
        padding-bottom: 12vmin;

        .Pizza:first-child {
            margin-top: 0;
        }

        .Pizza:last-child {
            margin-bottom: 0;
        }
    }
  
    &-slider {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        overflow: hidden;
        width: 300%;
        @include transform(translateX(0));
        @include transition(transform 0.5s);
  
        &-start, &-meat, &-vege {
          width: 100%;
        }

        &-start {
            font-style: italic;
        }
    }
}
  