html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Menu {
  padding-bottom: calc(56px + 5vmin);
  overflow: hidden;
}

.Menu h1 {
  margin: calc(40px + 0.8vmin) 0 calc(20px + 0.4vmin) 0;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.Menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.Menu-nav button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
  max-width: 400px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: calc(20px + 0.4vmin) calc(15px + 0.8vmin);
  padding-bottom: calc(32px + 5vmin);
  border: none;
  outline: none;
  color: black;
  background-color: transparent;
  -webkit-filter: opacity(0.12);
  filter: opacity(0.12);
  -webkit-transition: transform 0.25s, filter 0.25s;
  -webkit-transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
  transition: -webkit-transform 0.25s, -webkit-filter 0.25s;
  transition: transform 0.25s, filter 0.25s;
  transition: transform 0.25s, filter 0.25s, -webkit-transform 0.25s, -webkit-filter 0.25s;
  cursor: pointer;
}

.Menu-nav button::after {
  content: attr(data-info);
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: calc(18px + 0.8vmin);
  font-family: Mrs Shepards;
  -webkit-transform: scaleY(1.5);
  transform: scaleY(1.5);
}

.Menu-nav button img {
  width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Menu-nav button:last-of-type img {
  width: 77%;
}

.Menu-list {
  position: relative;
  margin-top: calc(56px + 5vmin);
  padding-top: 0.8vmin;
  padding-bottom: 12vmin;
}

.Menu-list .Pizza:first-child {
  margin-top: 0;
}

.Menu-list .Pizza:last-child {
  margin-bottom: 0;
}

.Menu-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  width: 300%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.Menu-slider-start, .Menu-slider-meat, .Menu-slider-vege {
  width: 100%;
}

.Menu-slider-start {
  font-style: italic;
}
/*# sourceMappingURL=Menu.css.map */