html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Editor {
  margin: 0 5% 0 5%;
  min-height: 92vh;
  text-align: left;
}

.Editor h1 {
  margin: 0;
  padding: calc(40px + 0.8vmin) 0 calc(32px + 0.4vmin) 0;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.Editor-content {
  min-height: 92vh;
}

.Editor-components {
  max-width: 800px;
}

.Editor-components .title:first-of-type {
  margin-top: 0;
}

.Editor-components .options button {
  margin: 2px;
  padding: 5px 8px;
  outline: none;
  font-size: calc(10px + 0.8vmin);
  border: none;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  border-radius: 50px;
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  cursor: pointer;
}

.Editor-components .options button:first-of-type {
  margin-left: 0;
}

.Editor-components .options button:last-of-type {
  margin-right: 0;
}

.Editor-finalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: calc(64px + 0.8vmin);
}

.Editor-finalInfo-first span {
  display: inline-block;
  margin: 8px;
  min-width: 28px;
  text-align: center;
}

.Editor-finalInfo-first button {
  padding: 5px 8px;
  min-width: 36px;
  outline: none;
  font-size: calc(10px + 0.8vmin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: transparent;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.Editor-finalInfo-first button:last-of-type {
  border: none;
  background-color: #aa0000;
  color: #e6e6e6;
}

.Editor-finalInfo-first button:first-of-type {
  border: none;
  background-color: #337800;
  color: #e6e6e6;
}

.Editor-finalInfo-first button:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.Editor-finalInfo-second, .Editor-finalInfo .title:last-child {
  margin: 0;
  font-size: calc(22px + 0.8vmin);
}

.Editor .title {
  margin: 16px 0 8px 0;
  font-weight: 700;
}

.Editor-buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: calc(8px + 0.8vmin);
  left: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 calc(32px + 0.8vmin) 0;
}

.Editor-buttons button {
  display: block;
  width: 60%;
  max-width: 240px;
  margin: 4px;
  padding: 8px;
  outline: none;
  border: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.Editor-buttons button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.Editor-buttons .okButton {
  background-color: #337800;
  border-radius: 10px;
}

.Editor-buttons .cancelButton {
  background-color: #aa0000;
  border-radius: 10px;
}
/*# sourceMappingURL=Editor.css.map */