// Editor.scss

@import '../../utils/models/base';

.Editor {
    margin: 0 5% 0 5%;
    min-height: 92vh;
    text-align: left;

    h1 {
        margin: 0;
        padding: calc(40px + 0.8vmin) 0 calc(32px + 0.4vmin) 0;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    &-content {
        min-height: 92vh;
    }

    &-components {
        max-width: 800px;

        .title:first-of-type {
            margin-top: 0;
        }

        .options {
            button {
                margin: 2px;
                padding: 5px 8px;
                outline: none;
                font-size: calc(10px + 0.8vmin);
                border: none;
                filter: brightness(85%);
                border-radius: 50px;
                background-color: transparent;
                @include transition(background-color 0.25s);
                cursor: pointer;

                &:first-of-type {
                    margin-left: 0;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }

    &-finalInfo {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: calc(64px + 0.8vmin);

        &-first {
            span {
                display: inline-block;
                margin: 8px;
                min-width: 28px;
                text-align: center;
            }
            
            button {
                padding: 5px 8px;
                min-width: 36px;
                outline: none;
                font-size: calc(10px + 0.8vmin);
                @include box-sizing(border-box);
                border-radius: 50px;
                background-color: transparent;
                @include filter(brightness(115%));
                @include transition(transform 0.25s);
                cursor: pointer;
    
                &:last-of-type {
                    border: none;
                    background-color: rgb(170, 0, 0);
                    color: $primary-fontColor;
                }
    
                &:first-of-type {
                    border: none;
                    background-color: rgb(51, 120, 0);
                    color: $primary-fontColor;
                }

                &:active {
                    @include transform(scale(1.15));
                }
            }
        }

        &-second, .title:last-child {
            margin: 0;
            font-size: calc(22px + 0.8vmin);
        }
    }

    .title {
        margin: 16px 0 8px 0;
        font-weight: 700;
    }

    &-buttons {
        position: sticky;
        bottom: calc(8px + 0.8vmin);
        left: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 calc(32px + 0.8vmin) 0;

        button {
            display: block;
            width: 60%;
            max-width: 240px;
            margin: 4px;
            padding: 8px;
            outline: none;
            border: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            filter: brightness(115%);
            @include transition(transform 0.25s);
            cursor: pointer;
        
            &:active {
                @include transform(scale(1.05));
            }
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
            border-radius: 10px;
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
            border-radius: 10px;
        }
    }
}