// Orders.scss

@import '../../utils//models/base';

.Orders {
    margin: 0;
    text-align: left;
    min-height: 92vh;

    h1 {
        margin: calc(40px + 0.8vmin) 5% calc(40px + 0.4vmin) 5%;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    .message {
        margin: 0 5%;
    }

    &-content {
        position: relative;
        margin-bottom: 40px;
        min-height: 85vh;

        .order {
            position: relative;
            margin: 4px;
            @include box-sizing(border-box);
            padding: 40px 5%;
            background-color: rgb(230, 209, 162);
            border-radius: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: calc(7px + 0.8vmin);
                height: 100%;
                border-radius: 7px 0 0 7px;
                background-color: black;
            }

            &-header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin: 0 0 32px 0;
                font-size: calc(14px + 0.8vmin);
                font-weight: 700;
            }

            &-products {
                margin: 0;
                font-size: calc(10px + 0.8vmin);

                .product {
                    position: relative;
                    margin: 16px 0;
                    padding-left: 5%;

                    .marker {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: calc(4px + 0.8vmin);
                        height: 100%;
                        border-radius: 7px 0 0 7px;
                        background-color: black;
                    }

                    &-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 700;
                    }

                    &-components {
                        div {
                            margin: 4px 2.5%;
                            font-style: italic;

                            span {
                                display: inline-block;
                                margin: 0 8px;

                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                            
                            .title {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }

        .LoadingImage {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-buttons {
        position: sticky;
        bottom: calc(8px + 0.8vmin);
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 5% calc(32px + 0.8vmin) 5%;

        button {
            display: block;
            width: 60%;
            max-width: 240px;
            margin: 4px;
            padding: 8px;
            outline: none;
            border: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;

            &:active {
                @include transform(scale(1.05));
            }
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
            border-radius: 10px;
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
            border-radius: 10px;
        }
    }
}