html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Orders {
  margin: 0;
  text-align: left;
  min-height: 92vh;
}

.Orders h1 {
  margin: calc(40px + 0.8vmin) 5% calc(40px + 0.4vmin) 5%;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.Orders .message {
  margin: 0 5%;
}

.Orders-content {
  position: relative;
  margin-bottom: 40px;
  min-height: 85vh;
}

.Orders-content .order {
  position: relative;
  margin: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 5%;
  background-color: #e6d1a2;
  border-radius: 10px;
}

.Orders-content .order::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(7px + 0.8vmin);
  height: 100%;
  border-radius: 7px 0 0 7px;
  background-color: black;
}

.Orders-content .order-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 32px 0;
  font-size: calc(14px + 0.8vmin);
  font-weight: 700;
}

.Orders-content .order-products {
  margin: 0;
  font-size: calc(10px + 0.8vmin);
}

.Orders-content .order-products .product {
  position: relative;
  margin: 16px 0;
  padding-left: 5%;
}

.Orders-content .order-products .product .marker {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(4px + 0.8vmin);
  height: 100%;
  border-radius: 7px 0 0 7px;
  background-color: black;
}

.Orders-content .order-products .product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.Orders-content .order-products .product-components div {
  margin: 4px 2.5%;
  font-style: italic;
}

.Orders-content .order-products .product-components div span {
  display: inline-block;
  margin: 0 8px;
}

.Orders-content .order-products .product-components div span:first-of-type {
  margin-left: 0;
}

.Orders-content .order-products .product-components div .title {
  font-weight: 700;
}

.Orders-content .LoadingImage {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Orders-buttons {
  position: -webkit-sticky;
  position: sticky;
  bottom: calc(8px + 0.8vmin);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5% calc(32px + 0.8vmin) 5%;
}

.Orders-buttons button {
  display: block;
  width: 60%;
  max-width: 240px;
  margin: 4px;
  padding: 8px;
  outline: none;
  border: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.Orders-buttons button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.Orders-buttons .okButton {
  background-color: #337800;
  border-radius: 10px;
}

.Orders-buttons .cancelButton {
  background-color: #aa0000;
  border-radius: 10px;
}
/*# sourceMappingURL=Orders.css.map */