// UserInformation.scss

@import '../../utils/models/base';

.UserInformation {
    margin: 0 5%;
    text-align: center;
    min-height: 92vh;

    h1 {
        margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    .loading-content {
        position: relative;
    }

    form {
        label {
            margin: 8px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            input {
                width: 100%;
                max-width: 400px;
                margin-top: 8px;
                border: none;
                border-radius: 5px;
                @include box-sizing(border-box);
                box-shadow: 0 0 2px grey;
                color: rgb(85, 85, 85);
                margin: 4px 0 0 0;
                padding: 8px 8px;
                outline: none;
                font-size: calc(10px + 0.8vmin);
                text-align: left;
            }
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
        }
    }

    .profileInfoForm {
        button {
            position: absolute;
            bottom: calc(11px + 0.8vmin);
            left: 50%;
            @include transform(translate(-50%, 0));
            display: block;
            width: 54%;
            max-width: 240px;
            padding: 8px;
            border-radius: 10px;
            border: none;
            outline: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;

            &:active {
                @include transform-2(translate(-50%, 0), scale(1.05));
            }

            &:first-of-type {
                @include transform(translate(-50%, calc(-100% - 8px)));

                &:active {
                    @include transform-2(translate(-50%, calc(-100% - 8px)), scale(1.05));
                }
            }
        }
    }

    .authForm {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        overflow: hidden;
        background-color: rgba(169, 169, 169, 0.7);

        &-wrapper {
            position: relative;
            top: 41%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            box-shadow: 0 2px 4px darkgrey;
            width: 50%;
            height: max-content;
            padding: 16px;
            background-color: $primary-color;
            border-radius: 10px;
            color: rgb(240, 240, 240);
            text-align: center;
        }

        h3 {
            margin: 8px 0 32px 0;
            text-align: center;
        }

        label {
            input {
                max-width: 240px;
            }
        }

        button {
            display: inline;
            margin: 24px 4px 2px 4px;
            outline: none;
            @include box-sizing(border-box);
            padding: 8px 12px;
            min-width: 64px;
            border: none;
            border-radius: 50px;
            font-size: calc(10px + 0.8vmin);
            color: $primary-fontColor;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;
    
            &:active {
                @include transform(scale(1.15));
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        .loading-content {
            position: relative;

            .LoadingImage {
                background-color: rgb(170, 0, 0);

                img {
                    top: 0;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .UserInformation {
        text-align: left;

        .profileInfoForm {
            label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }

        .authForm {
            text-align: right;

            h3 {
                text-align: left;
            }

            label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}