html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.UserInformation {
  margin: 0 5%;
  text-align: center;
  min-height: 92vh;
}

.UserInformation h1 {
  margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.UserInformation .loading-content {
  position: relative;
}

.UserInformation form label {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.UserInformation form label input {
  width: 100%;
  max-width: 400px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px grey;
          box-shadow: 0 0 2px grey;
  color: #555555;
  margin: 4px 0 0 0;
  padding: 8px 8px;
  outline: none;
  font-size: calc(10px + 0.8vmin);
  text-align: left;
}

.UserInformation form .cancelButton {
  background-color: #aa0000;
}

.UserInformation form .okButton {
  background-color: #337800;
}

.UserInformation .profileInfoForm button {
  position: absolute;
  bottom: calc(11px + 0.8vmin);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  width: 54%;
  max-width: 240px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.UserInformation .profileInfoForm button:active {
  -webkit-transform: translate(-50%, 0) scale(1.05);
  transform: translate(-50%, 0) scale(1.05);
}

.UserInformation .profileInfoForm button:first-of-type {
  -webkit-transform: translate(-50%, calc(-100% - 8px));
  transform: translate(-50%, calc(-100% - 8px));
}

.UserInformation .profileInfoForm button:first-of-type:active {
  -webkit-transform: translate(-50%, calc(-100% - 8px)) scale(1.05);
  transform: translate(-50%, calc(-100% - 8px)) scale(1.05);
}

.UserInformation .authForm {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  overflow: hidden;
  background-color: rgba(169, 169, 169, 0.7);
}

.UserInformation .authForm-wrapper {
  position: relative;
  top: 41%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2px 4px darkgrey;
          box-shadow: 0 2px 4px darkgrey;
  width: 50%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 16px;
  background-color: #aa0000;
  border-radius: 10px;
  color: #f0f0f0;
  text-align: center;
}

.UserInformation .authForm h3 {
  margin: 8px 0 32px 0;
  text-align: center;
}

.UserInformation .authForm label input {
  max-width: 240px;
}

.UserInformation .authForm button {
  display: inline;
  margin: 24px 4px 2px 4px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 12px;
  min-width: 64px;
  border: none;
  border-radius: 50px;
  font-size: calc(10px + 0.8vmin);
  color: #e6e6e6;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.UserInformation .authForm button:active {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.UserInformation .authForm button:last-of-type {
  margin-right: 0;
}

.UserInformation .authForm .loading-content {
  position: relative;
}

.UserInformation .authForm .loading-content .LoadingImage {
  background-color: #aa0000;
}

.UserInformation .authForm .loading-content .LoadingImage img {
  top: 0;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .UserInformation {
    text-align: left;
  }
  .UserInformation .profileInfoForm label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .UserInformation .authForm {
    text-align: right;
  }
  .UserInformation .authForm h3 {
    text-align: left;
  }
  .UserInformation .authForm label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=UserInformation.css.map */