html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.Logo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: calc(50px + 5vmin);
}

.Logo img {
  height: calc(132px + 24vmin);
  pointer-events: none;
}

.Logo h1 {
  position: absolute;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: Mrs Shepards;
  font-weight: 400;
  font-size: calc(32px + 5vmin);
  -webkit-transform: scaleY(1.5) translateY(33.33%);
  transform: scaleY(1.5) translateY(33.33%);
  margin: 0;
  text-shadow: 0 2px 3px black;
}
/*# sourceMappingURL=Logo.css.map */