// Logo.scss

@import '../../utils/models/base';

.Logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(50px + 5vmin);
    
    img {
          height: calc(132px + 24vmin);
          pointer-events: none;
    }
    
    h1 {
        position: absolute;
        bottom: 0;
        width: max-content;
        font-family: Mrs Shepards;
        font-weight: 400;
        font-size: calc(32px + 5vmin);
        @include transform-2(scaleY(1.5), translateY(33.33%));
        margin: 0;
        text-shadow: 0 2px 3px black;
    }
}