// ConfirmPage.scss

@import '../../utils/models/base';

.ConfirmPage {
    min-height: 92vh;
    margin: 0 5%;
    text-align: center;

    h1 {
        margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    .loading-content {
        position: relative;
    }

    form {
        label {
            margin: 8px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            input, select {
                width: 100%;
                max-width: 400px;
                margin-top: 8px;
                border: none;
                border-radius: 5px;
                @include box-sizing(border-box);
                box-shadow: 0 0 2px grey;
                color: rgb(85, 85, 85);
                margin: 4px 0 0 0;
                padding: 8px 8px;
                outline: none;
                font-size: calc(10px + 0.8vmin);
            }
        }

        .message {
            visibility: hidden;
            width: 100%;
            margin: 8px 0;
            font-size: calc(12px + 0.8vmin);
            color: $primary-color;
            @include filter(brightness(115%));
        }

        button {
            position: absolute;
            bottom: calc(11px + 0.8vmin);
            left: 50%;
            @include transform(translate(-50%, 0));
            display: block;
            width: 54%;
            max-width: 240px;
            padding: 8px;
            border-radius: 10px;
            border: none;
            outline: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;

            &:active {
                @include transform-2(translate(-50%, 0), scale(1.05));
            }

            &:first-of-type {
                @include transform(translate(-50%, calc(-100% - 8px)));

                &:active {
                    @include transform-2(translate(-50%, calc(-100% - 8px)), scale(1.05));
                }
            }
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
        }
    }
}

@media only screen and (min-width: 768px) {
    .ConfirmPage {
        text-align: left;

        form {
            label {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }
}