html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.ConfirmPage {
  min-height: 92vh;
  margin: 0 5%;
  text-align: center;
}

.ConfirmPage h1 {
  margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.ConfirmPage .loading-content {
  position: relative;
}

.ConfirmPage form label {
  margin: 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ConfirmPage form label input, .ConfirmPage form label select {
  width: 100%;
  max-width: 400px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px grey;
          box-shadow: 0 0 2px grey;
  color: #555555;
  margin: 4px 0 0 0;
  padding: 8px 8px;
  outline: none;
  font-size: calc(10px + 0.8vmin);
}

.ConfirmPage form .message {
  visibility: hidden;
  width: 100%;
  margin: 8px 0;
  font-size: calc(12px + 0.8vmin);
  color: #aa0000;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.ConfirmPage form button {
  position: absolute;
  bottom: calc(11px + 0.8vmin);
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: block;
  width: 54%;
  max-width: 240px;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  cursor: pointer;
}

.ConfirmPage form button:active {
  -webkit-transform: translate(-50%, 0) scale(1.05);
  transform: translate(-50%, 0) scale(1.05);
}

.ConfirmPage form button:first-of-type {
  -webkit-transform: translate(-50%, calc(-100% - 8px));
  transform: translate(-50%, calc(-100% - 8px));
}

.ConfirmPage form button:first-of-type:active {
  -webkit-transform: translate(-50%, calc(-100% - 8px)) scale(1.05);
  transform: translate(-50%, calc(-100% - 8px)) scale(1.05);
}

.ConfirmPage form .cancelButton {
  background-color: #aa0000;
}

.ConfirmPage form .okButton {
  background-color: #337800;
}

@media only screen and (min-width: 768px) {
  .ConfirmPage {
    text-align: left;
  }
  .ConfirmPage form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=ConfirmPage.css.map */