// LoadingImage.scss

@import '../../utils/models/base';

.LoadingImage {
    position: absolute;
    top: -2.5%;
    left: -2.5%;
    width: 105%;
    height: 105%;
    background-color: $secondary-color;
    color: $secondary-fontColor;
    text-align: center;
    overflow: hidden;
    @include transition(background-color 1s);

    img {
        position: relative;
        top: calc(5% + 11vmin);
        width: calc(40px + 4vmin);
        max-width: calc(40px + 4vmin);
        @include animation-name(rotation);
        @include animation-duration(1.4s);
        @include animation-timing-function(ease-in-out);
        @include animation-iteration-count(infinite);
    }
}

@keyframes rotation {
    from {@include transform(rotate(0deg))}
    to {@include transform(rotate(360deg))}
}