html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.SignUpForm {
  min-height: 92vh;
  margin: 0 5%;
}

.SignUpForm h1 {
  margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
  font-size: calc(22px + 0.8vmin);
  color: black;
}

.SignUpForm .loading-content {
  position: relative;
}

.SignUpForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 400px;
  width: 66.7%;
  margin: auto;
}

.SignUpForm form label {
  margin: 8px 0 0 0;
  width: 100%;
}

.SignUpForm form input {
  position: relative;
  margin: 4px 0 0 0;
  width: 100%;
  padding: 8px 8px;
  font-size: calc(16px + 0.8vmin);
  border-radius: 5px;
  outline: none;
  border: none;
  color: #555555;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 2px grey;
          box-shadow: 0 0 2px grey;
}

.SignUpForm form .messageWrapper {
  position: relative;
}

.SignUpForm form .messageWrapper .message, .SignUpForm form .messageWrapper .message3 {
  position: absolute;
  top: 8px;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  display: none;
  font-size: calc(12px + 0.8vmin);
  color: #aa0000;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.SignUpForm form .messageWrapper .message2 {
  visibility: hidden;
  width: 100%;
  margin: 8px 0;
  font-size: calc(12px + 0.8vmin);
  color: #aa0000;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

.SignUpForm form .messageWrapper .message4 {
  margin: calc(20px + 0.8vmin) 0 8px 0;
  font-size: calc(12px + 0.8vmin);
}

.SignUpForm form button {
  margin: 4px;
  width: 100%;
  max-width: 240px;
  padding: 8px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #e6e6e6;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-shadow: 0 1px 4px black;
          box-shadow: 0 1px 4px black;
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.SignUpForm form button:active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.SignUpForm form button:first-of-type {
  margin-top: 8px;
}

.SignUpForm form button:last-of-type {
  margin-bottom: 60px;
}

.SignUpForm form .cancelButton {
  background-color: #aa0000;
}

.SignUpForm form .okButton {
  background-color: #337800;
}
/*# sourceMappingURL=SignUpForm.css.map */