// Login.scss

@import '../../utils/models/base';

.Login {
    min-height: 92vh;
    margin: 0 5%;

    h1 {
        margin: calc(40px + 0.8vmin) 0 calc(40px + 0.4vmin) 0;
        font-size: calc(22px + 0.8vmin);
        color: $secondary-fontColor;
    }

    &-content {
        position: relative;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        width: 66.7%;
        margin: auto;

        label {
            margin: 8px 0 0 0;
            width: 100%;
        }

        input {
            position: relative;
            margin: 4px 0 0 0;
            width: 100%;
            padding: 8px 8px;
            font-size: calc(16px + 0.8vmin);
            border-radius: 5px;
            outline: none;
            border: none;
            color: rgb(85, 85, 85);
            @include box-sizing(border-box);
            box-shadow: 0 0 2px grey;
        }

        .message {
            visibility: hidden;
            margin: 8px 0;
            font-size: calc(12px + 0.8vmin);
            color: $primary-color;
            @include filter(brightness(115%));
        }

        .message2 {
            margin: 8px 0;
            font-size: calc(12px + 0.8vmin);
        }

        button {
            margin: 4px;
            width: 100%;
            max-width: 240px;
            padding: 8px 0;
            border-radius: 5px;
            border: none;
            outline: none;
            color: $primary-fontColor;
            font-size: calc(14px + 0.8vmin);
            box-shadow: 0 1px 4px black;
            @include filter(brightness(115%));
            @include transition(transform 0.25s);
            cursor: pointer;

            &:active {
                @include transform(scale(1.05));
            }

            &:first-of-type {
                margin-top: 8px;
            }
        }

        .cancelButton {
            background-color: rgb(170, 0, 0);
        }
    
        .okButton {
            background-color: rgb(51, 120, 0);
        }
    }
}