// App.scss

@font-face {
    font-family: 'Mrs Shepards';
    src: url('./utils/fonts/Mrs_Sheppards/MrsSheppards-Regular.ttf') format('truetype');
}

@import './utils/models/base';

.App {
    text-align: center;

    .topBar {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 8vh;
        margin: 0;
        @include box-sizing(border-box);
        padding: 0 5%;
        background-color: $primary-color;
        z-index: 1000;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2vh;
            background-color: $primary-color;
            border-radius: 0 0 50% 50%;
            @include transform(translateY(50%));
            z-index: -10;
        }

        .homeLink {
            display: flex;
            align-items: center;
            min-height: 8vh;
            font-family: Mrs Shepards;
            font-size: calc(18px + 0.8vmin);
            @include transition(filter 0.25s);
        }

        a {
            margin: 0 2.5%;
            text-decoration: none;
            color: $primary-fontColor;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            text-align: right;

            .cartLink-wrapper {
                display: inline-block;
                position: relative;
                width: min-content;
                margin-right: 5%;

                .cartLink {
                    min-height: 8vh;
                    display: flex;
                    align-items: center;
                    @include transition(filter 0.25s);

                    .cartImage {
                        height: calc(22px + 0.8vmin);
                    }
                }

                .marker {
                    display: inline-block;
                    position: absolute;
                    top: 2vh;
                    right: 0;
                    @include transform(translate(37%, 0));
                    min-height: 14px;
                    max-height: 14px;
                    min-width: 14px;
                    max-width: 14px;
                    border-radius: 14px;
                    background-color: rgb(51, 120, 0);
                    @include filter(brightness(160%));
                }
            }

            .langSelect-wrapper {
                position: relative;
                width: max-content;
                height: 100%;
                margin-right: 5%;

                &:hover > .langOptions, &:active > .langOptions, &:focus > .langOptions {
                    display: block;
                }

                &:hover .arrowImage, &:active .arrowImage, &:focus .arrowImage {
                    @include transform-2(translate(0, 10%), rotate(-90deg));
                }

                .langButton {
                    outline: none;
                    background-color: transparent;
                    font-size: calc(14px + 0.8vmin);
                    border: none;
                    padding: 0;
                    min-height: 8vh;
                    color: $primary-fontColor;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                    .arrowImage {
                        position: relative;
                        top: -2px;
                        padding-left: 2px;
                        height: calc(4px + 0.4vmin);
                        @include transition(transform 0.25s);
                    }
                }
    
                .langOptions {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    border-radius: 5px;
                    @include transform(translate(-50%, calc(100% - 1vh)));
                    width: 100%;
                    min-width: max-content;
                    max-width: 400px;
                    background-color: $secondary-color;
                    z-index: 1000;
                    box-shadow: 0 1px 3px black;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 50%;
                        width: 8px;
                        height: 8px;
                        @include transform(translate(50%, -50%) rotateZ(45deg));
                        border-radius: 2px 0 0 0;
                        background-color: $secondary-color;
                        z-index: -10;
                    }

                    button {
                        display: block;
                        outline: none;
                        background-color: transparent;
                        font-size: calc(14px + 0.8vmin);
                        @include box-sizing(border-box);
                        border: none;
                        padding: 8px;
                        width: 100%;
                        color: $secondary-fontColor;
                        text-align: left;
                        cursor: pointer;
                        @include transition-2(color 0.25s, background-color 0.25s);

                        &:hover, &:active, &:focus {
                            background-color: rgb(51, 128, 0);
                            color: $primary-fontColor;
                        }

                        &:first-child {
                            border-radius: 5px 5px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }
            }

            .loginLink {
                display: flex;
                align-items: center;
                min-height: 8vh;
                @include transition(filter 0.25s);
            }

            a {
                width: max-content;
                display: inline-block;
            }

            .userWrapper {
                position: relative;
                width: max-content;
                height: 100%;

                &:hover > .userOptions, &:active > .userOptions, &:focus > .userOptions {
                    display: block;
                }

                &:hover .arrowImage, &:active .arrowImage, &:focus .arrowImage {
                    @include transform-2(translate(0, 10%), rotate(-90deg));
                }

                .userButton {
                    outline: none;
                    background-color: transparent;
                    font-size: calc(14px + 0.8vmin);
                    border: none;
                    padding: 0;
                    min-height: 8vh;
                    color: $primary-fontColor;

                    .arrowImage {
                        position: relative;
                        top: -2px;
                        padding-left: 2px;
                        height: calc(4px + 0.4vmin);
                        @include transition(transform 0.25s);
                    }
                }
    
                .userOptions {
                    display: none;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    border-radius: 5px;
                    @include transform(translate(-50%, calc(100% - 1vh)));
                    width: 100%;
                    min-width: max-content;
                    max-width: 400px;
                    background-color: $secondary-color;
                    z-index: 1000;
                    box-shadow: 0 1px 3px black;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 50%;
                        width: 8px;
                        height: 8px;
                        @include transform(translate(50%, -50%) rotateZ(45deg));
                        border-radius: 2px 0 0 0;
                        background-color: $secondary-color;
                        z-index: -10;
                    }

                    a {
                        display: block;
                        background-color: transparent;
                        font-size: calc(14px + 0.8vmin);
                        @include box-sizing(border-box);
                        padding: 8px;
                        margin: 0;
                        width: 100%;
                        color: $secondary-fontColor;
                        text-align: left;
                        text-decoration: none;
                        @include transition-2(color 0.25s, background-color 0.25s);

                        &:hover, &:active, &:focus {
                            background-color: rgb(51, 128, 0);
                            color: $primary-fontColor;
                        }

                        &:first-child {
                            border-radius: 5px 5px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 5px 5px;
                        }
                    }

                    button {
                        display: block;
                        outline: none;
                        background-color: transparent;
                        font-size: calc(14px + 0.8vmin);
                        @include box-sizing(border-box);
                        border: none;
                        padding: 8px;
                        width: 100%;
                        color: $secondary-fontColor;
                        text-align: left;
                        cursor: pointer;
                        @include transition-2(color 0.25s, background-color 0.25s);

                        &:hover, &:active, &:focus {
                            background-color: rgb(51, 128, 0);
                            color: $primary-fontColor;
                        }

                        &:first-child {
                            border-radius: 5px 5px 0 0;
                        }

                        &:last-child {
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }
            }
        }
    }

    &-header {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        min-height: 115vh;
        color: $primary-fontColor;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .background-second {
            height: 85vh;
            background-color: $primary-color;
        }

        .foreground {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 85vh;
            @include box-sizing(border-box);
            padding: 50px 10%;
            background-color: $primary-color;
            border-radius: 50% 50% 0 0;
            z-index: 10;

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                min-height: 2vh;
                background-color: $primary-color;
                @include transform(translateY(50%));
                border-radius: 0 0 50% 50%;
            }

            p {
                margin: 0 0 0% 0;
                max-width: 800px;
                font-style: italic;
            }

            h3 {
                font-size: calc(14px + 0.8vmin);
                max-width: 800px;
                font-style: italic;
            }
        }
    }

    &-footer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        min-height: 55vh;
        color: $primary-fontColor;
        overflow: hidden;

        .background {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            min-height: 55vh;
            max-height: 55vh;
            transform: rotate(180deg);
        }

        .foreground {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 40vh;
            background-color: $primary-color;
            z-index: 10;
        }
    }

    .bottomBar {
        position: relative;
        min-height: 20vh;
        background-color: black;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2vh;
            background-color: black;
            border-radius: 50% 50% 0 0;
            @include transform(translateY(-50%));
        }

        .endLogo {
            position: relative;
            top: -2vh;
            height: calc(52px + 14vmin);
            @include transform(translateY(-10%));
            z-index: 1000;
        }
    }
}
