@font-face {
  font-family: 'Mrs Shepards';
  src: url("./utils/fonts/Mrs_Sheppards/MrsSheppards-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(14px + 0.8vmin);
  background-color: #e6e6e6;
}

.App {
  text-align: center;
}

.App .topBar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 8vh;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5%;
  background-color: #aa0000;
  z-index: 1000;
}

.App .topBar::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2vh;
  background-color: #aa0000;
  border-radius: 0 0 50% 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  z-index: -10;
}

.App .topBar .homeLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: Mrs Shepards;
  font-size: calc(18px + 0.8vmin);
  -webkit-transition: filter 0.25s;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.App .topBar a {
  margin: 0 2.5%;
  text-decoration: none;
  color: #e6e6e6;
}

.App .topBar a:first-of-type {
  margin-left: 0;
}

.App .topBar a:last-of-type {
  margin-right: 0;
}

.App .topBar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: right;
}

.App .topBar div .cartLink-wrapper {
  display: inline-block;
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 5%;
}

.App .topBar div .cartLink-wrapper .cartLink {
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: filter 0.25s;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.App .topBar div .cartLink-wrapper .cartLink .cartImage {
  height: calc(22px + 0.8vmin);
}

.App .topBar div .cartLink-wrapper .marker {
  display: inline-block;
  position: absolute;
  top: 2vh;
  right: 0;
  -webkit-transform: translate(37%, 0);
  transform: translate(37%, 0);
  min-height: 14px;
  max-height: 14px;
  min-width: 14px;
  max-width: 14px;
  border-radius: 14px;
  background-color: #337800;
  -webkit-filter: brightness(160%);
  filter: brightness(160%);
}

.App .topBar div .langSelect-wrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  margin-right: 5%;
}

.App .topBar div .langSelect-wrapper:hover > .langOptions, .App .topBar div .langSelect-wrapper:active > .langOptions, .App .topBar div .langSelect-wrapper:focus > .langOptions {
  display: block;
}

.App .topBar div .langSelect-wrapper:hover .arrowImage, .App .topBar div .langSelect-wrapper:active .arrowImage, .App .topBar div .langSelect-wrapper:focus .arrowImage {
  -webkit-transform: translate(0, 10%) rotate(-90deg);
  transform: translate(0, 10%) rotate(-90deg);
}

.App .topBar div .langSelect-wrapper .langButton {
  outline: none;
  background-color: transparent;
  font-size: calc(14px + 0.8vmin);
  border: none;
  padding: 0;
  min-height: 8vh;
  color: #e6e6e6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App .topBar div .langSelect-wrapper .langButton .arrowImage {
  position: relative;
  top: -2px;
  padding-left: 2px;
  height: calc(4px + 0.4vmin);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.App .topBar div .langSelect-wrapper .langOptions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  -webkit-transform: translate(-50%, calc(100% - 1vh));
  transform: translate(-50%, calc(100% - 1vh));
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 400px;
  background-color: #e6e6e6;
  z-index: 1000;
  -webkit-box-shadow: 0 1px 3px black;
          box-shadow: 0 1px 3px black;
}

.App .topBar div .langSelect-wrapper .langOptions::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 8px;
  height: 8px;
  -webkit-transform: translate(50%, -50%) rotateZ(45deg);
  transform: translate(50%, -50%) rotateZ(45deg);
  border-radius: 2px 0 0 0;
  background-color: #e6e6e6;
  z-index: -10;
}

.App .topBar div .langSelect-wrapper .langOptions button {
  display: block;
  outline: none;
  background-color: transparent;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 8px;
  width: 100%;
  color: black;
  text-align: left;
  cursor: pointer;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.App .topBar div .langSelect-wrapper .langOptions button:hover, .App .topBar div .langSelect-wrapper .langOptions button:active, .App .topBar div .langSelect-wrapper .langOptions button:focus {
  background-color: #338000;
  color: #e6e6e6;
}

.App .topBar div .langSelect-wrapper .langOptions button:first-child {
  border-radius: 5px 5px 0 0;
}

.App .topBar div .langSelect-wrapper .langOptions button:last-child {
  border-radius: 0 0 5px 5px;
}

.App .topBar div .loginLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  -webkit-transition: filter 0.25s;
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.App .topBar div a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
}

.App .topBar div .userWrapper {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
}

.App .topBar div .userWrapper:hover > .userOptions, .App .topBar div .userWrapper:active > .userOptions, .App .topBar div .userWrapper:focus > .userOptions {
  display: block;
}

.App .topBar div .userWrapper:hover .arrowImage, .App .topBar div .userWrapper:active .arrowImage, .App .topBar div .userWrapper:focus .arrowImage {
  -webkit-transform: translate(0, 10%) rotate(-90deg);
  transform: translate(0, 10%) rotate(-90deg);
}

.App .topBar div .userWrapper .userButton {
  outline: none;
  background-color: transparent;
  font-size: calc(14px + 0.8vmin);
  border: none;
  padding: 0;
  min-height: 8vh;
  color: #e6e6e6;
}

.App .topBar div .userWrapper .userButton .arrowImage {
  position: relative;
  top: -2px;
  padding-left: 2px;
  height: calc(4px + 0.4vmin);
  -webkit-transition: transform 0.25s;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.App .topBar div .userWrapper .userOptions {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 5px;
  -webkit-transform: translate(-50%, calc(100% - 1vh));
  transform: translate(-50%, calc(100% - 1vh));
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 400px;
  background-color: #e6e6e6;
  z-index: 1000;
  -webkit-box-shadow: 0 1px 3px black;
          box-shadow: 0 1px 3px black;
}

.App .topBar div .userWrapper .userOptions::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
  width: 8px;
  height: 8px;
  -webkit-transform: translate(50%, -50%) rotateZ(45deg);
  transform: translate(50%, -50%) rotateZ(45deg);
  border-radius: 2px 0 0 0;
  background-color: #e6e6e6;
  z-index: -10;
}

.App .topBar div .userWrapper .userOptions a {
  display: block;
  background-color: transparent;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  margin: 0;
  width: 100%;
  color: black;
  text-align: left;
  text-decoration: none;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.App .topBar div .userWrapper .userOptions a:hover, .App .topBar div .userWrapper .userOptions a:active, .App .topBar div .userWrapper .userOptions a:focus {
  background-color: #338000;
  color: #e6e6e6;
}

.App .topBar div .userWrapper .userOptions a:first-child {
  border-radius: 5px 5px 0 0;
}

.App .topBar div .userWrapper .userOptions a:last-child {
  border-radius: 0 0 5px 5px;
}

.App .topBar div .userWrapper .userOptions button {
  display: block;
  outline: none;
  background-color: transparent;
  font-size: calc(14px + 0.8vmin);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 8px;
  width: 100%;
  color: black;
  text-align: left;
  cursor: pointer;
  -webkit-transition: color 0.25s, background-color 0.25s;
  transition: color 0.25s, background-color 0.25s;
}

.App .topBar div .userWrapper .userOptions button:hover, .App .topBar div .userWrapper .userOptions button:active, .App .topBar div .userWrapper .userOptions button:focus {
  background-color: #338000;
  color: #e6e6e6;
}

.App .topBar div .userWrapper .userOptions button:first-child {
  border-radius: 5px 5px 0 0;
}

.App .topBar div .userWrapper .userOptions button:last-child {
  border-radius: 0 0 5px 5px;
}

.App-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 115vh;
  color: #e6e6e6;
}

.App-header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.App-header .background-second {
  height: 85vh;
  background-color: #aa0000;
}

.App-header .foreground {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 85vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px 10%;
  background-color: #aa0000;
  border-radius: 50% 50% 0 0;
  z-index: 10;
}

.App-header .foreground::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 2vh;
  background-color: #aa0000;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  border-radius: 0 0 50% 50%;
}

.App-header .foreground p {
  margin: 0 0 0% 0;
  max-width: 800px;
  font-style: italic;
}

.App-header .foreground h3 {
  font-size: calc(14px + 0.8vmin);
  max-width: 800px;
  font-style: italic;
}

.App-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 55vh;
  color: #e6e6e6;
  overflow: hidden;
}

.App-footer .background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 55vh;
  max-height: 55vh;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.App-footer .foreground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 40vh;
  background-color: #aa0000;
  z-index: 10;
}

.App .bottomBar {
  position: relative;
  min-height: 20vh;
  background-color: black;
}

.App .bottomBar::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2vh;
  background-color: black;
  border-radius: 50% 50% 0 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.App .bottomBar .endLogo {
  position: relative;
  top: -2vh;
  height: calc(52px + 14vmin);
  -webkit-transform: translateY(-10%);
  transform: translateY(-10%);
  z-index: 1000;
}
/*# sourceMappingURL=App.css.map */